<% include partials/header %>
	<h1>David Tanner</h1>
	<h3>Designer at Large</h3>
	<br>
	<h4>An Interdisciplinary Designer with many passions.</h4>
	<h6>This app was built using Node.js, Express, HTML, CSS, Heroku, and GitHub.</h6>
<% include partials/footer %>


