<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Birthday Case Study</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/favicon.ico">

    <!-- Custom styles for this template -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="js/chartjs.js"></script>
</head>

<body id="page-top">


<nav class="navbar has-background-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-light" href="/">Portfolio</a>
        </div>
        <div class="navbar-menu " id="navMenu">
            <div class="navbar-end">
                <nav class="navbar-item">
                    <p class="control">
                        <a class="button is-primary is-outlined" href="https://www.linkedin.com/in/tannerdavide" target="_blank"><span>Get in touch</span></a>
                    </p>
                </nav>
            </div>
        </div>
    </div>
</nav>


<section class="hero has-text-centered has-background-dark">
    <div class="hero-body logo">
        <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-light">UX DESIGN RESEARCH PROJECT</h1>
        <h2 class="subtitle is-size-4-desktop is-narrow-centered has-text-light">Crowdfunding Case Study</h2>
    </div>
</section>

<section class="has-text-centered">
    <div class="">
        <div class="container">
            <div class="column">
                <img class="image tall" src="img/birthday-case-study.svg">
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">For my capstone project for my UX Design bootcamp at Springboard, I chose a new business idea for a crowdfunding birthday gifting app. The initial concept for the idea features a self-hosted birthday wish. </p>
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">I knew that people are willing to contribute to a crowdfunded gift, but I was not sure if they'd contribute to a campaign that someone ran for their own benefit. So let's go build an app.... oh wait, first let's conduct some research.</p>
            </div>
        </div>
    </div>
</section>

<section class="has-text-centered">
        <div class="container">
            <div class="column">
                <h1 class="title has-text-centered is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">USER RESEARCH</h1>
                <img class="image small" src="img/mind-share.svg">
                <br>
                <p class="subtitle is-4 is-narrow-left has-text-grey-darker"><i class="far fa-check-square"></i>  Conduct secondary research for initial validation.</p>
                <p class="subtitle is-4 is-narrow-left has-text-grey-darker"><i class="far fa-check-square"></i>  Run a screener survey to discover key individuals for interviews.</p>
                <p class="subtitle is-4 is-narrow-left has-text-grey-darker"><i class="far fa-check-square"></i>  Interview 3-5 participants.</p>
                <p class="subtitle is-4 is-narrow-left has-text-grey-darker"><i class="far fa-check-square"></i>  Summarize Research findings.</p>
            </div>
        </div>
</section>

<section class="">
    <div class="">
        <div class="container">
            <div class="column">
                <h1 class="title has-text-centered is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">RESEARCH FINDINGS</h1>
                <img class="image small" src="img/lightbulb-on.svg">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">I interviewed 4 individuals for my initial research to validate whether or not people will donate to a campaign that is promoted by an individual indicating what birthday gift they'd like to receive.The results we're unanimous.</p>
                <br>
                <p class="subtitle is-3 is-narrow-centered has-text-grey-darker">- Individuals are not willing to donate to an individual that wants a gift for themselves.</p>
                <br>
                <!--h3 class="subtitle is-6 is-narrow-left has-text-grey-darker">Main Highlights:</h3>
                <ul class="">
                    <li class="subtitle is-6 is-narrow-left">• People are not willing to donate to a self promoting campaign, but are for a group-led campaign.</li>
                    <li class="subtitle is-6 is-narrow-left">• People are willing to donate to a campaign that gives a gift without getting anything in return.</li>
                    <li class="subtitle is-6 is-narrow-left">• They would be willing to spend about $20 towards a gift for a friend.</li>
                    <li class="subtitle is-6 is-narrow-left">• Individuals would be willing to donate about twice as much if a portion goes to a charity.</li>
                    <li class="subtitle is-6 is-narrow-left">• They expect that between 20-50% will go to a charity.</li>
                </ul-->
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">See Research Summary <a href="https://docs.google.com/document/d/1_2veuBsRJdzYsG56yVmZYUfERc8IPWwvGQXuldIV5qQ/edit"target="_blank">here</a>.</p>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">Empathy Map <a href="https://docs.google.com/drawings/d/1IQwsX9SpGujpJpyZtIvgb-DVjf0ZKnKOZNrVQoaaOw8/edit" target="_blank">here</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="has-text-centered">
    <div class="">
        <div class="container">
                <div class="column">
                    <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">PIVOT</h1>
                    <img class="image small" src="img/arrows.svg">
                    <br>
                    <p class="subtitle is-6 is-narrow-left has-text-grey-darker">Knowing that users are not willing to donate to a self-promoting campaign, the original app idea was a bust.</p>
                    <br>
                    <p class="subtitle is-6 is-narrow-left has-text-grey-darker">However, the practice of conducting User Interviews gave valuable insight into the Users pain points:</p>
                    <br>
                    <p class="subtitle is-3 is-narrow-centered has-text-grey-darker">All interviewees expressed frustration with campaign delivery times, how often they received updates from the team, and how honest the teams are about the status of the project.</p>
                    <br>
                </div>
        </div>
    </div>
</section>

<section class="has-text-centered">
    <div class="container">
        <div class="column">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">TARGET PERSONA</h1>
            <img class="image small" src="img/id-card.svg">
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">I created a User Persona based on my research and user interviews of those that experience the frustrations of a lack of transparency from crowdfunding campaigns.</p>
            <br>
                        <div class="persona-block">
                            <div class="columns">
                                <div class="column"><img class="" src="img/HS-01.png">
                                    <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">"I really like being apart of the community of creators. Getting monthly updates from the projects I've backed gives me confidence to support future projects."</h3>
                                </div>
                                <div class="column">
                                    <h1 class="subtitle is-4">Randall</h1>
                                    <ul>
                                        <li>Age: 28</li>
                                        <li>Occupation: Product Developer</li>
                                        <li>Status: Single</li>
                                        <li>Location: Salt Lake City</li>
                                        <li>Tier: Early Adopter</li>
                                        <li>Archetype: Creator</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="persona-block">
                            <div class="column">
                            <h1 class="subtitle is-4">Bio</h1>
                            <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">Randall is a product developer that loves to support crowd funding projects and is an early adopter of new innovative ideas.</h3>
                            </div>
                                <div class="columns">
                                <div class="column-persona">
                                    <h1 class="subtitle is-4">Motivations</h1>
                                    <div class="persona-tags">
                                        <div class="persona-motivations">Social</div>
                                        <div class="persona-motivations">Achievement</div>
                                        <div class="persona-motivations">Success</div>
                                    </div>
                                </div>
                                <div class="column-persona">
                                    <h1 class="subtitle is-4">Goals</h1>
                                    <div class="persona-tags">
                                            <li>Help support other entrepreneurs</li>
                                            <li>Have latest and greatest tech</li>
                                            <li>Test new products on the market</li>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column-persona">
                                    <h1 class="subtitle is-4">Frustrations</h1>
                                    <div class="persona-tags is-narrow-left">
                                            <li>When campaigns are not transparent with delays or issues</li>
                                            <li>Delivery timeline is behind schedule</li>
                                            <li>Not hearing from campaigns as often as I'd like</li>
                                    </div>
                                </div>
                                <div class="column-persona">
                                    <h1 class="subtitle is-4">Goals</h1>
                                    <div class="persona-tags is-narrow-left">
                                            <li>Be apart of helping the project be successful</li>
                                            <li>Receive Rewards within a reasonable timeline</li>
                                            <li>Get innovative new products earlier than most</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                <!-- end of persona card -->
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">Rather than running forward with building a prototype to gather additional market validation, I decided that quickest/least expensive way to do this would be to survey actual users that have experienced this pain-point.</p>
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">In order to do this, I needed to leverage a colleagues campaign to get access to the users. I explained the value of the survey and that they would receive the shared data. They agreed and posted my survey on their next update. See the results below:</p>
    </div>
</section>

<section class="has-text-centered">
        <div class="container">
            <div class="column">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">BACKER'S EXPECTATIONS</h1>
                <img class="image small" src="img/megaphone.svg">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">To gain confidence and validation on the need for a communications tool, I conducted a survey of backers from a recently completed crowdfunding campaign.</p>
                <br>
                <img class="image wide" src="img/Ganttrack-Validation-Survey-Results1.png">
                <br>
                <img class="image small" src="img/quote-right.svg">
                <p class="subtitle is-3 is-narrow-centered has-text-grey-darker">"The updates make me feel a part of the creative process, keeps me involved, and my expectations realistic".</p>
                <img class="image small" src="img/quote-left.svg">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">Giving updates every 2-4 weeks is the optimal or as often as there is big news.</p>
                <br>
                <img class="image wide" src="img/Ganttrack-Validation-Survey-Results2.png">
                <br>
                <img class="image small" src="img/quote-right.svg">
                <p class="subtitle is-3 is-narrow-centered has-text-grey-darker">"Backers are way more understanding when things go wrong if they are not kept in the dark".</p>
                <img class="image small" src="img/quote-left.svg">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">The majority only wants to receive updates on the high-level items, however a strong enough number of users would like more details, so we'll target to accommodate both.</p>
                <br>
                <img class="image wide" src="img/Ganttrack-Validation-Survey-Results3.png">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">Seeing this gives validation to providing access into  the project milestones.</p>
                <br>
                <img class="image wide" src="img/Ganttrack-Validation-Survey-Results4.png">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">For backers that back many projects, it was confirmed that they'd like to track them all in one dashboard. Full Survey Details <a href="https://goo.gl/forms/PxhkPvdwE2RmIeuz1" target="_blank">here</a>.</p>
                <br>
            </div>
        </div>
</section>

<section class="has-text-centered">
    <div class="container">
        <div class="column">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">INFORMATION ARCHITECTURE</h1>
            <img class="image small" src="img/route.svg">
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">To help me sort out the details of the app, I ran a Card Sorting activity to understand better how users think about the feature set. My key learning was that communication needs to be core and central to the apps functionality. It cannot be a secondary feature.</p>
            <br>
            <img class="image wide" src="img/CardSort2@2x.png">
            <br>
            <img class="image wide" src="img/Sitemap.JPG">
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">See full Card Sort <a href="https://docs.google.com/document/d/1_LVmUE589DsJSIEbtzD-wiwyhObfshZzFfrxfAkwstY/edit?usp=sharing" target="_blank">here</a>.</p>
            <br>
        </div>
    </div>
</section>

<section class="has-text-centered">
    <div class="container">
        <div class="column">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">UI SKETCHING</h1>
            <img class="image small" src="img/pencil-alt.svg">
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">Sketching is the least expensive way to work out any UI/UX issues, and my experience here with the Ganttrack sketching was no exception.</p>
            <br>
            <img class="image wide" src="img/Sketching-Image.jpg">
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">Full UI Sketching report <a href="https://docs.google.com/document/d/1j_u3MFa7iexuEckpAsmdmpWG9vqw449-R3vm5Yd0hj4/edit?usp=sharing" target="_blank">here</a>.</p>
            <br>
        </div>
    </div>
</section>

<section class="has-text-centered">
        <div class="container">
            <div class="column">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">VISUAL DESIGN</h1>
                <img class="image small" src="img/pencil-ruler.svg">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">Below are screenshots showing my high fidelity prototype that I created for User Testing:</p>
                <br>
                <img class="image wide" src="img/Ganttrack-Landing-Page.png">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">This landing page allows the user to drop a project URL in to create a new account.</p>
                <br>
                <img class="image wide" src="img/Ganttrack-Create-Project.png">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">To save the User from entering a bunch of details, our app will scrape the data for them.</p>
                <br>
                <img class="image wide" src="img/Ganttrack-Skeleton-Loader.png">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">To Skeleton Loader page will animate to help cut down the appearance of time to load..</p>
                <br>
                <img class="image wide" src="img/Ganttrack-Dashboard.png">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">The dashboard supports factors that will help the team alleviate the Backer's pain points.</p>
                <br>
                <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">See the full click-through prototype <a href="https://projects.invisionapp.com/prototype/cjpe80o810075tq01x8fw7mn3/play" target="_blank">here</a>.</p>
                <br>
            </div>
        </div>
</section>

<section class="has-text-centered">
    <div class="container">
        <div class="column">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">USER TESTING</h1>
            <img class="image small" src="img/user-astronaut.svg">
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">User Testing was positive! I gained validation from an actual User, and they provided additional insight into how we can target the Backers to help gain traction with the campaign teams that need to use the tool to make the bakers happy.</p>
            <br>
            <p class="subtitle is-6 is-narrow-left has-text-grey-darker">See the full User Testing plan <a href="https://docs.google.com/document/d/1sWWZkZoGwRxFbR0v9W6Ao_JPa-SHU7BC_InPUniQoCI/edit?usp=sharing" target="_blank">here</a>.</p>
            <br>
        </div>
    </div>
</section>

<section class="has-text-centered">
        <div class="container">
            <div class="column">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">CONCLUSION</h1>
                <img class="image small" src="img/rocket.svg">
                <br>
                <p class="subtitle is-6 is-narrow-left has-text-grey-darker">The results of my User Testing validated that the feature set would be useful to a team that Crowdfunded a project. Although the biggest learning that I gained from the User Testing session taught me that the best strategy for launching this product would be to provide a free product to campaign backers. The app could be used whether or not a project team was using it, and would actually encourage the team to start using it. You can see the full report <a href="https://docs.google.com/document/d/1xjE5cNjWPuPdTCuIXKUF3OJI6VAvOYZwprDRIVWzLTE/edit?usp=sharing" target="_blank">here</a>.</p>
                <br>
                <p class="subtitle is-4 is-narrow-centered has-text-grey-darker">The End</p>
                <br>
                <img class="image small" src="img/laugh-wink.svg">
                <br>
            </div>
        </div>
</section>


<section class="hero has-text-centered has-background-black-ter">
    <div class="hero-body">
        <p class="has-text-light">Designed and hand-coded by David Tanner <i class="far fa-copyright"></i> 2018</p>
        <p class="has-text-light">Made with:</p>
        <div class="">
            <img class="img-icons" src="/vendor/icons/UXDesign32.png">
            <img class="img-icons" src="/vendor/icons/Zeplin-32.png">
            <img class="img-icons" src="/vendor/icons/HTML5-32.png">
            <img class="img-icons" src="/vendor/icons/CSS3-32.png">
            <img class="img-icons" src="/vendor/icons/node-js-32.png">
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<!--script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<!--script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<!--script src="viewschartjs.jst.js"></script-->

</body>

</html>
