<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ganttrack Case Study</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/favicon.ico">

    <!-- Custom styles for this template -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body id="page-top">


<nav class="navbar has-background-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-light" href="/">Portfolio</a>
        </div>
        <div class="navbar-menu " id="navMenu">
            <div class="navbar-end">
                <nav class="navbar-item">
                    <p class="control">
                        <a class="button is-primary is-outlined is-rounded" href="https://www.linkedin.com/in/tannerdavide" target="_blank"><span>Get in touch</span></a>
                    </p>
                </nav>
            </div>
        </div>
    </div>
</nav>


<section class="hero has-text-centered has-background-dark">
    <div class="hero-body logo">
        <img class="ganttrack-logo" src="/img/ganttrack-logo-white.svg">
    </div>
    <div class="hero-body logo">
        <h2 class="subtitle is-size-4-desktop is-narrow-centered has-text-light">Visual Design | Product Design| Branding | Entrepreneurship | Hackathon</h2>
    </div>
</section>

<section class="has-text-centered">
    <div class="">
        <div class="container">
            <div class="column">
                <img class="img-hero" src="img/ganttrack-box.png">
                <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">The idea for Ganttrack came about from prior experience running a crowd-funding campaign and backing many other campaigns. I felt and noticed others being frustrated with campaigns that didn't seem to understand project management or managing production of a product.</p>
                <br>
                <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">I noticed that there was a lack of transparency and communication between the founders and the backers. So I pitched this idea to a developer friend as an idea for us to submit to <a href="http://2017.angularattack.com/entries/477-databots" target="_blank">Angular Attack</a> 2017</p>
                <br>
                <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">In the short 48 hours, we were able to build a basic functioning project management app with persistent sign in, and a landing page for new user acquisition.</p>
            </div>
        </div>
    </div>
</section>

<section class="has-text-centered has-background-primary">
    <div class="">
        <div class="container">
            <div class="column">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-light">SOCIAL COMMENTARY</h1>
            </div>
            <div class="column">
            <div class="columns is-centered">
                    <div class="social-reviews">
                        <img class="img-reviews" src="/img/ganttrack-social-2.png">
                    </div>
            </div>
            <div class="columns is-centered">
                    <div class="social-reviews">
                        <img class="img-reviews" src="/img/ganttrack-social-1.png">
                    </div>
            </div>
            <div class="columns is-centered">
                    <div class="social-reviews">
                        <img class="img-reviews" src="/img/ganttrack-social-3.png">
                    </div>
            </div>
            </div>
        </div>
    </div>
</section>

<sectio3219n class="hero has-text-centered">
    <div class="container">
        <div class="column">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">LEARNINGS</h1>
            <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">With this project we learned a lot from the initial prototype. While there is a need for first or second time crowd-fund raisers to need a project management tool, we found that a task manager is not enough, and is already covered very well in the market. There is a possibility to carve out a niche specifically to the crowd-funding community, however that's not very compelling considering that the main customers pain point is not solved if a campaign is not communicating the status of a project. .</p>
            <br>
            <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">You can see a live working prototype of this app hosted on my Heroku account here.</p>
            <a class="button is-primary is-outlined is-rounded" href="https://peaceful-beyond-63530.herokuapp.com/" target="_blank"><span>Live Prototype</span></a>
        </div>
    </div>
</sectio3219n>

<section class="has-text-centered has-background-primary">
        <div class="container">
            <div class="column">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-light">USER PERSONAS</h1>
            </div>
            <!--persona card-->
            <div class="columns">
                <div class="column">
                    <div class="box-reviews">
                        <div class="persona-block">
                            <div class="columns">
                                <div class="column"><img class="" src="img/adam.jpg">
                                    <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">"Life is awesome."</h3>
                                </div>
                                <div class="column">
                                <h1 class="subtitle is-2">Randall</h1>
                                    <ul>
                                        <li>Age: 28</li>
                                        <li>Occupation: Product Developer</li>
                                        <li>Status: Single</li>
                                        <li>Location: Salt Lake City</li>
                                        <li>Tier: Early Adopter</li>
                                        <li>Archetype: Creator</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="persona-block">
                            <h1 class="subtitle is-4">Bio</h1>
                            <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">Randall is a product developer that loves to support crowd funding projects and is an early adopter of new innovative ideas.</h3>
                        <div class="columns">
                            <div class="column-persona">
                                <h1 class="subtitle is-4">Motivations</h1>
                                <div class="">
                                            <div class="persona-motivations">Social</div>
                                            <div class="persona-motivations">Achievement</div>
                                            <div class="persona-motivations">Success</div>
                                </div>
                            </div>
                            <div class="column-persona">
                                <h1 class="subtitle is-4">Goals</h1>
                                <div id="listDiv" class="">
                                <ol>
                                    <li>Help support other entrepreneurs</li>
                                    <li>Have latest and greatest tech</li>
                                    <li>Test new products on the market</li>
                                </ol>
                                </div>
                                </div>
                        </div>
                        <div class="columns">
                            <div class="column-persona">
                                <h1 class="subtitle is-4">Frustrations</h1>
                                <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">“David brings the rare ability to synthesize strategic thinking and planning with tactical execution and actually getting things done.”</h3>
                            </div>
                            <div class="column-persona">
                                <h1 class="subtitle is-4">Goals</h1>
                                <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">“David brings the rare ability to synthesize strategic thinking and planning with tactical execution and actually getting things done.”</h3>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end of persona card -->
            <!--persona card-->
                <div class="column">
                    <div class="box-reviews">
                        <div class="persona-block">
                            <div class="columns">
                                <div class="column"><img class="" src="img/adam.jpg">
                                    <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">"Life is awesome."</h3>
                                </div>
                                <div class="column">
                                    <h1 class="subtitle is-2">Sarah</h1>
                                    <ul>
                                        <li>Age: 28</li>
                                        <li>Occupation: Product Developer</li>
                                        <li>Status: Single</li>
                                        <li>Location: Salt Lake City</li>
                                        <li>Tier: Early Adopter</li>
                                        <li>Archetype: Creator </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="persona-block">
                            <h1 class="subtitle is-4">Bio</h1>
                            <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">Sarah is an....</h3>
                            <div class="columns">
                                <div class="column-persona">
                                    <h1 class="subtitle is-4">Motivations</h1>
                                    <div class="">
                                        <div class="persona-motivations">User Research</div>
                                        <div class="persona-motivations">Visual Design</div>
                                        <div class="persona-motivations">Product Management</div>
                                        <div class="persona-motivations">Marketing</div>
                                    </div>
                                </div>
                                <div class="column-persona">
                                    <h1 class="subtitle is-4">Goals</h1>
                                    <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">“David brings the rare ability to synthesize strategic thinking and planning with tactical execution and actually getting things done.”</h3>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column-persona">
                                    <h1 class="subtitle is-4">Frustrations</h1>
                                    <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">“David brings the rare ability to synthesize strategic thinking and planning with tactical execution and actually getting things done.”</h3>
                                </div>
                                <div class="column-persona">
                                    <h1 class="subtitle is-4">Goals</h1>
                                    <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">“David brings the rare ability to synthesize strategic thinking and planning with tactical execution and actually getting things done.”</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- end of persona card -->
    </div>
</section>

<section class="hero has-text-centered">
    <div class="container">
        <div class="column">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">FEEDBACK</h1>
            <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">We're open to any thoughts or feedback on the project. You can get in touch with me on LinkedIn below.</p>
            <a class="button is-primary is-outlined is rounded" href="https://www.linkedin.com/in/tannerdavide" target="_blank"><span>Give Feedback</span></a>
        </div>
    </div>
</section>


<section class="hero has-text-centered has-background-black-ter">
    <div class="hero-body">
        <p class="has-text-light">Designed and hand-coded by David Tanner <i class="far fa-copyright"></i> 2018</p>
        <p class="has-text-light">Made with:</p>
        <div class="">
            <img class="img-icons" src="/vendor/icons/UXDesign32.png">
            <img class="img-icons" src="/vendor/icons/Zeplin-32.png">
            <img class="img-icons" src="/vendor/icons/HTML5-32.png">
            <img class="img-icons" src="/vendor/icons/CSS3-32.png">
            <img class="img-icons" src="/vendor/icons/node-js-32.png">
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<!--script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<!--script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<!--script src="js/resume.min.js"></script-->

</body>

</html>
