<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>David Tanner</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/favicon.ico">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="views/css/resume.min.css">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/David.png" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">
      <section class="resume-section pl-3 text-md-center" id="">
                  <p class="">Resume built using NodeJS, Express, BootStrap4, and deployed on Heroku.</p>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">David
            <span class="text-primary">Tanner</span>
          </h1>
          <div class="subheading mb-2">Design | Product | Entrepreneurship</div>
          <div class="subheading mb-5">Salt Lake City, Utah ·
            <a href="mailto:tanner.davide@gmail.com">Email</a>
          </div>
          <p>I'm a natural born problem solver. I'm curious about all things, and I love the challenge of learning something new.</p> 

          <p>The most important thing about me is; I am driven, strategic, and confident in getting the job done. My focus is in value creation and execution. I care very much about developing meaningful interactions, and building long-term trustworthy relationships.</p> 

          <p>Lastly; Details! dEtails, DETAILS.</p>
          <br>
          <br>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/tannerdavide">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/filmsterdavid">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="section-divider-mid-light" id="experience">
        <div class="section-divider-mid-light">
          <h3 class="section-divider-heading">Experience</h3>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row mb-3">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Founder | Designer</h3>
              <div class="subheading mb-2">Travler</div>
              <div class="resume-item d-flex flex-column flex-md-row mb-3">
                <div class="resume-date text-md-left">
              <span class="text-primary">Oct 2014 - Present</span>
                </div>
              </div>
              <p>A lifestyle brand with focus on the Adventure Lifestyle. We're connecting a community of individuals that embodies the get out and go attitude. Our brand focuses on designing and developing products that are; simple to use, designed for those on-the-go, and something you can use as an everyday carry (EDC).</p>
            </div>
            </div>
          <br>

          <div class="resume-item d-flex flex-column flex-md-row mb-3">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Product Manager</h3>
              <div class="subheading mb-2">Jamberry</div>
              <div class="resume-item d-flex flex-column flex-md-row mb-3">
                <div class="resume-date text-md-left">
                  <span class="text-primary">December 2015 - Present</span>
                </div>
              </div>
              <p>Oversee and define product life cycle, product spec, and development cycles using a Scrum-Agile methodology. Manage software development team. Analyze market opportunities, and drive cost savings with the business.</p>
            </div>
            </div>
          <br>

          <div class="resume-item d-flex flex-column flex-md-row mb-3">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Director of Operations</h3>
              <div class="subheading mb-2">ArmorActive</div>
              <div class="resume-item d-flex flex-column flex-md-row mb-3">
                <div class="resume-date text-md-left">
                  <span class="text-primary">February 2014 - October 2014</span>
            </div>
          </div>
              <p>Managed relationships with vendors, producers, and other key partnerships. Managed in house kitting team, oversaw production and quality control. Managed product development workflow.</p>
            </div>
            </div>
          <br>

          <div class="resume-item d-flex flex-column flex-md-row mb-3">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Project Manager</h3>
              <div class="subheading mb-2">ArmorActive</div>
                <div class="resume-item d-flex flex-column flex-md-row mb-3">
                  <div class="resume-date text-md-left">
              <span class="text-primary">September 2013 - March 2014</span>
            </div>
          </div>
              <p>Managed custom product development. My role interfaced with Industrial Designers, Mechanical, and Electrical Engineers, as well as clients. My focus was to deliver a successful outcome to clients and their custom project, with emphasis of hitting critical timelines, and target budgets.</p>
            </div>
            </div>
          <br>

          <div class="resume-item d-flex flex-column flex-md-row mb-3">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Creative Director</h3>
              <div class="subheading mb-2">ArmorActive</div>
               <div class="resume-item d-flex flex-column flex-md-row mb-3">
                  <div class="resume-date text-md-left">
              <span class="text-primary">February 2012 - September 2013</span>
            </div>
          </div>
              <p>Managed marketing strategy and content creation for B2B product marketing. This included managing cross functional teams both internal, and external. I oversaw development and distribution of: business apps, product videos, web development/branding, product photography, and eCommerce sales.</p>
            </div>
            </div>
          <br>

          <div class="resume-item d-flex flex-column flex-md-row mb-3">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Founder</h3>
              <div class="subheading mb-2">Vela Productions</div>
               <div class="resume-item d-flex flex-column flex-md-row mb-3">
                  <div class="resume-date text-md-left">
              <span class="text-primary">January 2011 - August 2013</span>
            </div>
          </div>
              <p>Vela Productions emphasizes in promotional videos for businesses. Services include writing, directing, shooting, editing, marketing, animation, and graphic design. I leverage market research on each individual company to create compelling content.
              Client List: Ally Bank, Armor Active, Leading Edge Aviation, Advanced Gloves, DrivingScene.com, EcoScraps</p>
            </div>
            </div>

        </div>
      </section>

      <section class="section-divider-mid-light" id="projects">
        <div class="section-divider-mid-light">
          <h3 class="section-divider-heading">Projects</h3>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row mb-3">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Angular Attack 2017</h3>
              <span class="text-primary">UI/UX Design</span>
              <div class="resume-item d-flex flex-column flex-md-row mb-3">
                <div class="resume-date text-md-left">
                  <div class="subheading mb-3">A Developer friend and I entered in the 48 hour coding competition by <a href="http://www.angularattack.com/entries/477-databots" target="_blank">Angular Attack</a>. We submitted a business concept I had featuring a Gantt charting tool designed specifically to provide transparency between crowd-funding companies and backers. The app is called <a href="https://peaceful-beyond-63530.herokuapp.com/" target="_blank">Ganttrack</a>. The app is not fully complete, but at the end of the 48 hours we submitted a functioning app that allows on-boarding, account persistence, and basic project planning.</div>
                </div>
              </div>
            </div>
            </div>
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Travler Pack</h3>
              <span class="text-primary">Product Design</span>
              <div class="resume-item d-flex flex-column flex-md-row mb-3">
                <div class="resume-date text-md-left">
                  <div class="subheading mb-3">To further grow our product offering for our Startup: <a href="https://www.gotravler.com/" target="_blank">Travler</a>, I designed a cross-over backpack that targets the enthusiest photographer. The bag features a configurable gear section and premium materials that are water repellant. Details on the Travler Pack are available at <a href="https://www.gotravler.com/pages/travler-backpack-kickstarter-campaign" target="_blank">gotravler.com</a></div>
                </div>
              </div>
            </div>
            </div>

        </div>
      </section>

      <section class="section-divider-mid-light" id="education">
        <div class="section-divider-mid-light">
          <h3 class="section-divider-heading">Education</h3>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row mb-3">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">University of Utah</h3>
              <div class="subheading mb-2">Bachelor of Arts - Digital Media & Film | Entrepreneurship Minor</div>
              <div class="resume-item d-flex flex-column flex-md-row mb-3">
                <div class="resume-date text-md-left">
                  <span class="text-primary">August 2011 - May 2014</span>
                </div>
              </div>
            </div>
            </div>

        </div>
      </section>

      <section class="section-divider-mid-light" id="skills">
        <div class="section-divider-mid-light">
          <h3 class="section-divider-heading">Skills</h3>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">

          <div class="subheading mb-3">Design Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/UXDesign32.png" alt="">
            </li>
            <li class="list-inline-item">
              <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Adobe-Illustrator32.png" alt="">
            </li>
            <li class="list-inline-item">
              <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Photoshop32.png" alt="">
            </li>
            <li class="list-inline-item">
              <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/PremierePro32.png" alt="">
            </li>
            <li class="list-inline-item">
              <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Sketch-32.png" alt="">
            </li>
            <li class="list-inline-item">
              <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Zeplin-32.png" alt="">
            </li>
            <li class="list-inline-item">
              <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Fushion360-32.png" alt="">
            </li>
          </ul>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <!--li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-less"></i>
            </li-->
            <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-npm"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <section class="section-divider-mid-light" id="interests">
        <div class="section-divider-mid-light">
          <h3 class="section-divider-heading">Interests</h3>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
          <p>Everyday is full of new opportunity. I'm all about living a healthy work life balance. I work very hard, and live a very active life.</p>
          <br>
          <p>I enjoy yoga, skiing, climbing, camping, and hanging out with interesting people.</p>
        </div>
      </section>

      <section class="section-divider-mid-light" id="awards">
        <div class="section-divider-mid-light">
          <h3 class="section-divider-heading">Awards &amp; Certifications</h3>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - Utah Clean Air Film Competition | Feb 2012</li>
              <li>
              <i class="fa-li fa fa-certificate text-warning"></i>Introduction to Software Product Management - Coursera | April 2017</li>
              <li>
              <i class="fa-li fa fa-certificate text-warning"></i>Software Processes and Agile Practices - Coursera | May 2017</li>
          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
