<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Photography</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/favicon.ico">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="views/css/resume.min.css">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark navbar-bg fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://www.linkedin.com/in/tannerdavide/">Contact</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid p-0">
    <!--      <section class="resume-section pl-3 text-md-center" id="">
                      <p class="">Resume built using NodeJS, Express, BootStrap4, and deployed on Heroku.</p>
          </section>-->
    <section class="hero-slider">
        <div class="hero-slider">
            <h1 class="hero-heading">David Tanner</h1>
            <h3 class="hero-sub-caption">Video & Photo Portfolio</h3>
        </div>
    </section>

    <section class="resume-section pl-3 text-md-center" id="">
        <p class="">Portfolio built using NodeJS, Express, BootStrap4, and deployed on Heroku.</p>
    </section>


    <section class="resume-section p-3 p-lg-5 d-flex d-column">
        <div class="my-auto">
            <h2 class="section-heading">Videography</h2>
            <div class="my-auto">
                <p class="section-heading">I started out my career in video production, which lead me to become the Creative Director for ArmorActive starting in February 2012. I managed all of the marketing content for the website. ArmorActive was <a href="https://beehivestartups.com/slc-based-armoractive-acquired-by-mobile-technologies-inc-7adc8183fbe8/" target="_blank">acquired</a> a short time later. I later built a brand called <a href="https://www.gotravler.com/" target="_blank">Travler</a> that connects travel enthusiasts with hand-crafted goods. Below is a compilation of my best clips from my favorites projects over the years.</p>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mgHq9I-iHxk?rel=0&amp;controls=1&amp;showinfo=0" allowfullscreen></iframe>
            </div>
            <!--div class="embed-responsive embed-responsive-16by9 video">
                <video width="400" controls>
                    <source src="img/David-Tanner-Demo-Reel-Favorite-Clips.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div-->
            <h2 class="section-heading">Photography</h2>
            <div class="my-auto">
                <p class="section-heading">I studied and received a Bachelor of Arts from the University of Utah in Digital Media & Film. I also received a business minor in Entrepreneurship. I've been behind a camera for about a decade in various capacities on both the management side, as well as the execution side. Below you can see some of my best work.</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="">
                        <img class="img-block" src="img/Jess-Vasa-Headshots090.JPG" alt="">
                        <p class="section-heading">I organized and shot these photos for a new product that we evaluated for launch. The product is handmade in the italian village that my maternal great grand-parents are from.</p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <a class="">
                            <img class="img-block" src="img/Jess-Vasa-Headshots087.JPG" alt="">
                        </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <a class="">
                            <img class="img-block" src="img/Travler_apparel_066.JPG" alt="">
                            <p class="section-heading">This image is an example of an apparel line concept I executed for my brand Travler. On this project I gave art direction to another designer for the graphic design work. I ran this photo shoot, shot and edited this image.</p>
                        </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="">
                        <img class="img-block" src="img/Travler-Backpack-kickstarter-241.JPG" alt="">
                        <p class="section-heading">This image is from a video and photo shoot that I did for the Travler Pack- a new backpack line that I designed for my brand Travler. </p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="">
                        <img class="img-block" src="img/Travler_Backpack171.JPG" alt="">
                        <p class="section-heading">I captured these lifestyle shots in LA showcasing the Travler Pack.</p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="">
                        <img class="img-block" src="img/Travler-backpack89.JPG" alt="">
                        <p class="section-heading">Here is another example of a lifestyle shoot for my brand Travler.</p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="">
                        <img class="img-block" src="img/Travler_Leather_GoPro_Case_Front.jpg" alt="">
                        <p class="section-heading">Here is a product I designed. The photo was shot and edited by my talented business partner <a href="https://www.linkedin.com/in/chandler-mcfarland-5b500171/" target="_blank">Chandler McFarland</a>.</p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="">
                        <img class="img-block" src="img/Travler_Leather_GoPro_Case_Hero_4_silver.jpg" alt="">
                        <p class="section-heading">Here is a another view of the leather GoPro case, the photo was also shot and edited by Chandler.</p>
                    </a>
                </div>
            </div>
    </section>


<section>
    <br>
</section>

<section>

</section>




<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

</body>

</html>
