<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/favicon.ico">

    <!-- Custom styles for this template -->
      <link rel="stylesheet" type="text/css" href="views/css/resume.min.css">

  </head>

  <body id="page-top">

   <nav class="navbar navbar-expand-lg navbar-dark navbar-bg fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://www.linkedin.com/in/tannerdavide/">Contact</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container-fluid p-0">
<!--      <section class="resume-section pl-3 text-md-center" id="">
                  <p class="">Resume built using NodeJS, Express, BootStrap4, and deployed on Heroku.</p>
      </section>-->
      <section class="hero-slider">
        <div class="hero-slider">
          <h1 class="hero-heading">David Tanner</h1>
          <h3 class="hero-sub-caption">Design Portfolio</h3>
        </div>
      </section>

        <section class="resume-section pl-3 text-md-center" id="">
            <p class="">Portfolio built using NodeJS, Express, BootStrap4, and deployed on Heroku.</p>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column">
            <div class="my-auto">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mx-auto">
                        <div class="section-block">
                            <a class="section-block " >
                                <img class="img-block" src="img/David_Tanner01.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="my-auto">
                        <p class="section-heading">Hi, I'm David. I'm passionate about many things in life; Design, Product, and Entrepreneurship are a few of those passions. I've designed in various capacities and mediums. I'm versed in HTML, CSS, and I'm currently learning Javascript and React. This portfolio site is currently Bootstrap, but I plan to rebuild it in React.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column">
            <div class="my-auto">
                <h2 class="section-heading">Design Disciplines</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h5 class="section-heading">User Research</h5>
                        <a class="section-block" >
                            <img class="img-block" src="img/ganttrack-mockups.jpg"  alt="">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h5 class="section-heading">Wireframing</h5>
                        <a class="section-block">
                            <img class="img-block" src="img/Prototype-sketching.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h5 class="section-heading">Interactive Prototypes</h5>
                        <a class="section-block" href="https://xd.adobe.com/view/7c1fc3d0-2364-43c6-6e44-a6ef775ed1ac-0a2e/" target="_blank" >
                            <img class="img-block" src="img/Interactive-Prototypes.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>

   <section class="my-auto">
       <div class="my-auto">
           <h2 class="section-heading">Skills</h2>
               <div class="section-block">
                   <div class="section-content">
                       <div class="section">
                       <skills class="skills">User Research</skills>
                       <skills class="skills">Visual Design</skills>
                       <skills class="skills">Product Management</skills>  
                       <skills class="skills">Marketing</skills>
                       <skills class="skills">Video Production</skills>
                       <skills class="skills">Branding</skills>
                       <skills class="skills">agile</skills>
                       <skills class="skills">scrum</skills>
                       <skills class="skills">HTML5</skills>
                       <skills class="skills">CSS3</skills>
                       <skills class="skills">Javascript</skills>
                       <skills class="skills">GIT</skills>
                       </div>
                   <h3 class="subheading mb-3">Design Tools</h3>
                   <ul class="list-inline list-icons">
                       <li class="list-inline-item">
                           <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/UXDesign32.png" alt="">
                       </li>
                       <li class="list-inline-item">
                           <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Adobe-Illustrator32.png" alt="">
                       </li>
                       <li class="list-inline-item">
                           <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Photoshop32.png" alt="">
                       </li>
                       <li class="list-inline-item">
                           <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/PremierePro32.png" alt="">
                       </li>
                       <li class="list-inline-item">
                           <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Sketch-32.png" alt="">
                       </li>
                       <li class="list-inline-item">
                           <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Zeplin-32.png" alt="">
                       </li>
                       <li class="list-inline-item">
                           <img class="img-fluid img-profile mx-auto mb-2" src="vendor/icons/Fushion360-32.png" alt="">
                       </li>
                   </ul>

                   <!--h3 class="subheading mb-3">Programming Languages &amp; Tools</h3>
                   <ul class="list-inline list-icons">
                       <li class="list-inline-item">
                           <i class="devicons devicons-html5"></i>
                       </li>
                       <li class="list-inline-item">
                           <i class="devicons devicons-css3"></i>
                       </li>
                       <li class="list-inline-item">
                           <i class="devicons devicons-javascript"></i>
                       </li>
                       <li class="list-inline-item">
                         <i class="devicons devicons-sass"></i>
                       </li>
                       <li class="list-inline-item">
                         <i class="devicons devicons-less"></i>
                       </li>
                       <li class="list-inline-item">
                           <i class="devicons devicons-bootstrap"></i>
                       </li>
                       <li-- class="list-inline-item">
                           <i class="devicons devicons-npm"></i>
                       </li>
                   </ul-->

                   <h3 class="subheading mb-3">Workflow</h3>
                       <li class="section-paragraph">Mobile-First, Responsive Design</li>
                       <li class="section-paragraph">Cross Functional Teams</li>
                       <li class="section-paragraph">Agile Development &amp; Scrum</li>
               </div>
               </div>
           </div>
       </div>
   </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column">
            <div class="my-auto">
                <h2 class="section-heading">Design Portfolio</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <a class="section-block" href="https://peaceful-beyond-63530.herokuapp.com/" target="_blank">
                            <img class="img-block" src="img/web-design-01.png" alt="">
                            <div class="section-title" href="/web">Web</div></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="section-block">
                            <a class="section-block" href="/graphics">
                                <img class="img-block" src="img/graphic-design-01.png" alt="">
                                <h2 class="section-title" href="/graphics">Graphic</h2></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="section-block">
                            <a class="section-block" href="https://www.gotravler.com/pages/travler-backpack-kickstarter-campaign/" target="_blank">
                                <img class="img-block" src="img/Travler_Backpack171.JPG" alt="">
                                <div class="section-title" href="https://www.gotravler.com/pages/travler-backpack-kickstarter-campaign/" target="_blank">Products</div></a>
                        </div>
                    </div>
                </div>
        </section>

   <section class="p-3 p-lg-5 d-flex d-column">
       <div class="container-fluid">
           <h2 class="section-heading">Video Portfolio</h2>
           <p class="section-heading">I started out my career in video production, which lead me to become the Creative Director for ArmorActive starting in February 2012. I managed all of the marketing content for the website. ArmorActive was <a href="https://beehivestartups.com/slc-based-armoractive-acquired-by-mobile-technologies-inc-7adc8183fbe8/" target="_blank">acquired</a> a short time later. I later built a brand called <a href="https://www.gotravler.com/" target="_blank">Travler</a> that connects travel enthusiasts with hand-crafted goods. Below is a compilation of my best clips from my favorites projects over the years.</p>
                   <div class="container">
                       <iframe class="embed-responsive-16by9 video" src="https://www.youtube.com/embed/mgHq9I-iHxk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                   </div>
       </div>
   </section>

     <section>
      <br>
      </section>

      <section>

      </section>





    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
