<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/favicon.ico">

    <!-- Custom styles for this template -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body id="page-top">


<nav class="navbar has-background-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-light" href="/">Portfolio</a>
        </div>
        <div class="navbar-menu " id="navMenu">
            <div class="navbar-end">
                <nav class="navbar-item">
                    <p class="control">
                        <!--a class="button is-primary is-outlined" href="https://www.linkedin.com/in/tannerdavide" target="_blank"><span>Get in touch</span></a-->
                    </p>
                </nav>
            </div>
        </div>
    </div>
</nav>


<section class="hero has-text-centered has-background-dark">
    <div class="hero-body logo">
        <img class="travler-logo" src="/img/travler-logo-white.svg">
    </div>
    <div class="hero-body logo">
        <h2 class="subtitle is-size-4-desktop is-narrow-centered has-text-light">User Research | User Testing | Visual Design | Product Design| Branding | Entrepreneurship</h2>
    </div>
</section>

<section class="has-text-centered">
    <div class="">
        <div class="container">
            <div class="column">
                <img class="image block" src="img/Travler_Leather_GoPro_Case_Front.jpg">
                <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">Travler is a travel lifestyle brand that features handcrafted goods for the on-the-go adventurer. The inception of the business and the brand started with a case study on the use of POV cameras while exploring.</p>
                <br>
                <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">Through user research I discovered that 90% of GoPro enthusiasts bought their camera for one adventure and sat it on the shelf after that only to collect dust. I found a solution that combined my love of vintage design with my knowledge in product development to create a leather camera case designed to fit a GoPro camera. The product and the brand we're then developed and launched on Kickstarter in 2015.</p>
                <br>
                <p class="subtitle is-6 is-narrow-centered has-text-grey-darker">The brand has since grown to about 23K followers on <a href="https://www.instagram.com/gotravler/" target="_blank">Instagram</a>, and we've developed additional soft goods, apparel and a backpack line. You can find Travler's products on their website or on Amazon Prime.</p>
            </div>
        </div>
    </div>
</section>

<section class="has-text-centered has-background-primary">
    <div class="">
        <div class="container">
            <div class="column">
                <p class="subtitle is-4 is-narrow-centered has-text-light">Drove 200K in Rev.</p>
                <p class="subtitle is-4 is-narrow-centered has-text-light">Acquired 22K users on Instagram.</p>
            </div>
            </div>
            <div class="column-reviews">
                <div class="column-box">
                    <div class="box-reviews">
                        <h3 class="subtitle is-size-4-desktop has-text-grey-darker">“Lorem ipsum.”</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="has-text-centered">
    <div class="">
        <div class="container">
            <div class="column">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">ONBOARDING</h1>
                <p class="subtitle has-text-grey-darker"> love.</p>
            </div>
        </div>
        <div class="columns">
            <div class="column-box">
                <div class="column-box">
                    <div class="box-screens ganttrack">
                    </div>
                </div>
            </div>
            <div class="column-box">
                <div class="column-box">
                    <div class="box-screens ganttrack">
                    </div>
                </div>
            </div>
            <div class="column-box">
                <div class="column-box">
                    <div class="box-screens ganttrack">
                    </div>
                </div>
            </div>
            <div class="column-box">
                <div class="column-box">
                    <div class="box-screens ganttrack">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="column">
                <p class="subtitle has-text-grey-darker"> love.</p>
            </div>
        </div>
    </div>
</section>

<section class="has-text-centered has-background-primary">
    <div class="">
        <div class="container">
            <div class="column">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-light">REVIEWS</h1>
            </div>
            <div class="column-reviews">
                <div class="column-box">
                    <div class="box-reviews">
                        <h3 class="subtitle is-size-4-desktop has-text-grey-darker">“lorem ipsum.”</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero has-text-centered">
    <div class="container">
        <div class="column">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">PROCESS</h1>
            <p class="subtitle has-text-grey-darker">Lorem ipsum.</p>
        </div>
    </div>
        <div class="column-box">
            <div class="column-box">
                <div class="box-screens travler">
                </div>
            </div>
        </div>
</section>

<section class="hero has-text-centered has-background-black-ter">
    <div class="hero-body">
        <p class="has-text-light">Designed and hand-coded by David Tanner <i class="far fa-copyright"></i> 2018</p>
        <p class="has-text-light">Made with:</p>
        <div class="">
            <img class="img-icons" src="/vendor/icons/UXDesign32.png">
            <img class="img-icons" src="/vendor/icons/Zeplin-32.png">
            <img class="img-icons" src="/vendor/icons/HTML5-32.png">
            <img class="img-icons" src="/vendor/icons/CSS3-32.png">
            <img class="img-icons" src="/vendor/icons/node-js-32.png">
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<!--script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<!--script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<!--script src="js/resume.min.js"></script-->

</body>

</html>
