<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/favicon.ico">

    <!-- Custom styles for this template -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>

  <body id="page-top">


  <nav class="navbar has-background-black-ter">
      <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">

            </a>
          </div>
          <div class="navbar-menu " id="navMenu">
              <div class="navbar-end">
                  <nav class="navbar-item">
                    <p class="control">
                        <a class="button is-primary is-outlined" href="https://www.linkedin.com/in/tannerdavide" target="_blank"><span>Get in touch</span></a>
                    </p>
                  </nav>
              </div>
          </div>
      </div>
  </nav>


  <section class="hero has-text-centered has-background-black-ter">
      <div class="hero-body">
          <img src="img/spaceman.svg" class="hero-image">
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-light">DESIGNER & ENTREPRENEUR</h1>
            <h2 class="subtitle is-5 has-text-light">I’m a creative that loves clean and simple aesthetics…. and building cool things.</h2>
          <img src="img/stars.svg" class="hero-image">
      </div>
  </section>

  <section class="has-text-centered">
      <div class="">
          <div class="container">
              <div class="column">
                  <img class="" src="img/David.png">
                  <h1 class="title is-spaced is-size-2-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">Hi, I'm David</h1>
                  <h2 class="subtitle is-5 is-narrow-centered has-text-grey-darker">I’m passionate about many things in life: Design, Product, and Entrepreneurship are a few of those passions. I’ve designed in various capacities and mediums. I fell in love with the Adobe Creative Suite in 2010 and have been using it ever since. I'm currently enrolled in UX Design from <a href="https://www.springboard.com/workshops/ux-design" target="_blank">Springboard</a>.</h2>
              </div>
          </div>
      </div>
  </section>

  <section class="has-text-centered has-background-primary">
      <div class="">
          <div class="container">
              <div class="column">
                  <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-light">SKILLS & TOOLS</h1>
                  <img src="img/cloud-blocks.svg" style="height: 150px;">
              </div>
                  <div class="columns">
                      <div class="column-box">
                          <div class="box-skills">
                              <span style="font-size: 48px; color: #129ECD;">
                              <i class="fas fa-pencil-alt"></i>
                              </span>
                              <ul class="">
                                  <li class="">Xd</li>
                                  <li class="">Illustrator</li>
                                  <li class="">Photoshop</li>
                                  <li class="">Sketch</li>
                                  <li class="">Zeplin</li>
                                  <li class="">PremierePro</li>
                                  <li class="">After Effects</li>
                              </ul>
                          </div>
                      </div>
                      <div class="column-box">
                          <div class="box-skills">
                              <span style="font-size: 48px; color: #129ECD;">
                              <i class="fas fa-code"></i>
                              </span>
                              <ul class="">
                                  <li class="">HTML5</li>
                                  <li class="">CSS3</li>
                                  <li class="">Bootstrap4</li>
                                  <li class="">SQL</li>
                                  <li class="">JavaScript (learning)</li>
                                  <li class="">React (learning)</li>
                                  <li class="">MongoDB (learning)</li>
                              </ul>
                          </div>
                      </div>
                      <div class="column-box">
                          <div class="box-skills">
                              <span style="font-size: 48px; color: #129ECD;">
                              <i class="fas fa-code-branch"></i>
                              </span>
                              <ul class="">
                                  <li class="">Agile/Scrum</li>
                                  <li class="">Mobile First</li>
                                  <li class="">Responsive</li>
                                  <li class="">Cross-Functional</li>
                                  <li class="">GIT</li>
                                  <li class="">Slack-Ninja</li>
                              </ul>
                          </div>
                      </div>
                  </div>
          </div>
          </div>
      </div>
  </section>

  <section class="has-text-centered">
      <div class="">
          <div class="container">
              <div class="column">
                  <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">MY WORK</h1>
              </div>
          </div>
          <div class="columns">
              <div class="column-box">
                  <div class="column-box">
                      <a class="" href="/birthday-case-study">
                      <div class="box-skills birthday">
                      </div>
                      </a>
                  </div>
                  <p class="subtitle is-size-5-desktop has-text-grey-darker">A crowd-funded birthday gift.</p>
              </div>
              <div class="column-box">
                  <div class="column-box">
                      <a class="" href="https://xd.adobe.com/view/7c1fc3d0-2364-43c6-6e44-a6ef775ed1ac-0a2e/" target="_blank">
                      <div class="box-skills saferide">
                      </div>
                      </a>
                  </div>
                  <p class="subtitle is-size-5-desktop has-text-grey-darker">A chauffeur with a safety button.</p>
              </div>
          </div>
      </div>
  </section>

  <section class="has-text-centered">
      <div class="">
          <div class="container">
              <div class="column">
                  <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-grey-darker">ENTREPRENEURSHIP</h1>
                  <h2 class="subtitle is-5 is-narrow-centered has-text-grey-darker">I studied Entrepreneurship at the University of Utah and have always had a deep love of improving the world in which we live. I've launched my own brands, companies, and product lines. I've consulted and assisted 100's of businesses with everything from digital media, web design and development, and more. Below are some of my projects.</h2>
              </div>
          </div>
          <div class="columns">
              <div class="column-box">
                  <div class="column-box">
                      <a class="" href="/travler-case-study">
                      <div class="box-skills travler">
                      </div>
                      </a>
                  </div>
                     <p class="subtitle is-size-5-desktop has-text-grey-darker">A travel lifestyle brand featuring handcrafted goods.</p>
              </div>
              <div class="column-box">
                  <div class="column-box">
                      <a class="" href="/ganttrack-case-study">
                      <div class="box-skills ganttrack">
                      </div>
                      </a>
                  </div>
                  <p class="subtitle is-size-5-desktop has-text-grey-darker">A tool to keep your backers up-to-date.</p>
              </div>
              <div class="column-box">
                  <div class="column-box">
                      <a class="" href="/coming-soon">
                      <div class="box-skills shiftdrop">
                      </div>
                      </a>
                  </div>
                    <p class="subtitle is-size-5-desktop has-text-grey-darker">An app for picking up or dropping a shift.</p>
              </div>
          </div>
      </div>
  </section>

  <section class="has-text-centered has-background-primary">
      <div class="">
          <div class="container">
              <div class="column">
              <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-text-light">REVIEWS</h1>
              </div>
              <div class="columns">
                  <div class="column-box">
                      <div class="box-reviews">
                          <img class="" src="img/scott.jpg">
                          <h3 class="">Scott p.</h3>
                          <h2 class="subtitle  is-6 is-narrow-small has-text-grey-darker">“David has impressed me from the first time I met him. He had passion for the work he was doing then, and that carried with him.”</h2>
                      </div>
                  </div>
                  <div class="column-box">
                      <div class="box-reviews">
                          <img class="" src="img/adam.jpg">
                          <h3 class="">Adam K.</h3>
                          <h3 class="subtitle  is-6 is-narrow-small has-text-grey-darker">“David brings the rare ability to synthesize strategic thinking and planning with tactical execution and actually getting things done.”</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="hero has-text-centered">
      <div class="hero-body">
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size3-mobile has-grey-darker">LET'S COLLABORATE!</h1>
          <h2 class="subtitle is-6 is-narrow-centered has-text-grey-darker">I'm always interested in helping out other people.Connect with me and send me details about your project. I'd love to help any way that I can.</h2>
          <a class="button is-primary is-outlined" href="https://www.linkedin.com/in/tannerdavide" target="_blank"><span>Get in touch</span></a>
          <ul class="">
              <li class="is-inline">
                  <a href="https://www.linkedin.com/in/tannerdavide" target="_blank">
                  <span style="font-size: 48px; color: #129ECD;">
                      <i class="fab fa-linkedin-in"></i>
                  </span>
                  </a>
              </li>
              <li class="is-inline">
                  <a href="https://github.com/filmsterdavid" target="_blank">
                  <span style="font-size: 48px; color: #129ECD;">
                      <i class="fab fa-github"></i>
                  </span>
                  </a>
              </li>
          </ul>
      </div>
  </section>

  <section class="hero has-text-centered has-background-black-ter">
      <div class="hero-body">
          <p class="has-text-light">Designed and hand-coded by David Tanner <i class="far fa-copyright"></i> 2018</p>
          <p class="has-text-light">Made with:</p>
          <div class="">
              <img class="img-icons" src="/vendor/icons/UXDesign32.png">
              <img class="img-icons" src="/vendor/icons/Zeplin-32.png">
              <img class="img-icons" src="/vendor/icons/HTML5-32.png">
              <img class="img-icons" src="/vendor/icons/CSS3-32.png">
              <img class="img-icons" src="/vendor/icons/node-js-32.png">
          </div>
          <a class="has-text-light" href="/resume" target="_blank"><span>Resume</span></a>
      </div>
  </section>

    <!-- Bootstrap core JavaScript -->
    <!--script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <!--script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <!--script src="js/resume.min.js"></script-->

  </body>

</html>
